---
// Usage: <Navbar />
---

<div class="w-full h-12 flex flex-row justify-center items-center bg-emerald-900 text-white text-2xl font-light shadow-lg">
    <div class="">
        mtopacio@medium
    </div>
</div>